<?xml  version="1.0"?>
<config>
    <modules>
        <Rom_OrderItemOriginalPrice>
            <version>0.1.0</version>
        </Rom_OrderItemOriginalPrice>
    </modules>
    <global>
        <models>
           <romorderitemoriginalprice>
               <class>Rom_OrderItemOriginalPrice_Model</class>
            </romorderitemoriginalprice>
        </models>
        <resources>
           <romorderitemoriginalprice_setup>
               <setup>
                  <module>Rom_OrderItemOriginalPrice</module>
                  <class>Mage_Sales_Model_Mysql4_Setup</class>
               </setup>
               <connection>
                    <use>core_setup</use>
               </connection>
            </romorderitemoriginalprice_setup>
            <romorderitemoriginalprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </romorderitemoriginalprice_write>
            <romorderitemoriginalprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </romorderitemoriginalprice_read>
        </resources>
        <events>
            <sales_quote_add_item>
                <observers>
                    <rom_extend_quote_item>
                        <class>romorderitemoriginalprice/observer</class>
                        <method>romExtendQuoteItem</method>
                    </rom_extend_quote_item>
                </observers>
            </sales_quote_add_item>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <rom_extend_order_item>
                        <class>romorderitemoriginalprice/observer</class>
                        <method>romExtendOrderItem</method>
                    </rom_extend_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>
</config>